.App {
  text-align: center;
}

.corpoComponente {
  /* background-color: thistle; */
  margin-top: 4%;
  position: fixed;
  width: 100%;
  height: 93%;
  background-size: auto 110%;
  background-repeat: no-repeat;
  background-position: right;
}

/* ----------------------- HEADER ------------------------------- */

.header {
  position: fixed;
  top: 0px;
  width: 100%;
}

.header h1 {
  margin-top: 1%;
  color: white;
  font-family: standard;
  font-size: 10vh;
}

.header h1:hover {
  cursor: pointer;
}

.header h5 {
  margin-top: 3vh;
  color: white;
  font-family: standard;
  font-size: 5vh;
}

.header > .row {
  background-color: teal ;
  height: 10vh; /* view-height: 10vh rappresenta il 10% dell'altezza del div in cui è inserito */
}

/* -------------------------- FOOTER ------------------------------*/
.footer {
  background-color: teal;
  height: 7%;
  position: absolute;
  bottom: 0%;
  left: 0%;
  width: 100%;
}

.col-sm-4 img {
  height: 80%;
  margin-top: 1vh;
  bottom: 0%;
  position: relative;
}



/* ------------------------- HOMEPAGE --------------------------- */

.homepage {
 height: 85vh;
 width: 100%;
 position: fixed;
}

.schedahome {
  margin-left: 4%;
  margin-top: 3.5vh;
  background-color: teal;
  height: 78.5vh;
}


/* ------------------------- CONTENUTO -------------------------- */

.contenuto {
  border: 0.8vh solid teal;
  /* background-color: rgb(248, 179, 179); */
  height: 75vh;
  margin-left: 4%;
  margin-top: 3%;
  margin-right: 4%;
  /* margin: 4% */
}

.contenuto h1 {
  font-size: 4vh;
}

.contenuto h4 {
  font-size: 3vh;
}


/* ------------------------- HOME CARD -------------------------- */

.homecard {
  border: 0.4em solid teal;
  /* background-color: rgb(248, 179, 179); */
  margin-bottom: 10%;
  height: 77vh
}

.right {
margin-right: 2%;
margin-top: 5%;
}

.left {
  margin-left: 2%;
  margin-top: 5%;
}

.homecard h1 {
  font-size: 3vw; /* em prende il font dell'elemento e lo moltiplica per il numero posto prima*/
  color: white;
  background-color: teal;
  width: 100%;
}

.homecard button {
  position: absolute;
  bottom: 20%;
  left: 15%;
}

.laptop {
  height: 65%;
  width: auto;
}

.camera {
  height: 43%;
  width: auto;
  margin-top: 8%;
  margin-bottom: 9%;
}

/* ----------------------------------------- BUTTONS ---------------------------------*/

.btn-info {
  background-color: teal;
  width: 70%;
  height: 10%;
}

.btn-info-inverted {
  background-color: white;
  color: teal;
  width: 70%;
  height: 10%;
  margin-bottom: 1%;
  /* font-size:  */
}

.btn-info:hover {
  background-color: rgb(248, 179, 179);
  color: teal;
  border: transparent;
}

.btn-info-inverted:hover {
  background-color: rgb(248, 179, 179);
  color: teal;
  border: transparent;
}

.pulsantiera {
  margin-top: 5%;
  height: 5.5vh;
  padding-top: 1%;
}

.tech {
  font-family: tech;
  align-self: center;
  font-size: 3vh;
}

.fotografia {
  font-family: fotografia;
  align-self: center;
  font-size: 3vh;
}

/* ------------------------- WEB HOME ----------------------------- */

.home {
  top: 10%;
}

/* ------------------------- LAYOUT ------------------------------- */

.fotoprofilo {
  height: 20vh;
  margin-top: 5%;
  margin-bottom: -5%;
}

.form-control {
  font-size: 2vh;
}
/* ------------------------- CONTATTAMI --------------------------- */

.contattami > .form-group > .form-control {
  width: 50%;
  margin-left: 25%;
  font-size: 2vh;
}

.contattami > button {
  width: 50%;
  font-size: 3vh;
  left: 25%;
  bottom: 5%;
  position: absolute;
  padding: 0.7%;
}

.contattami {
  top: 10%;
  position: absolute;
  width:68.3vw;
  height: 60vh;
  font-family: standard;
}


/* ------------------------- CV ----------------------------------- */

.cv {
height: 73.5vh;
}

.cv a {
  color: white;
  background-color: teal;
  border-radius: 5%;
  font-family: standard;
  font-size: 4vh;
  padding: 1%;
  right: 7%;
  top: 9%;
  position: absolute;
  align-self: center;
  opacity: 0.5;
}

.cv a:hover {
  opacity: 1;
}

.pdf {
  height: 73.5vh;
  overflow-y: scroll;
}

canvas {
  height: 200vh !important;
  width: 138vh !important;
}

/* ------------------------- CHI SONO ---------------------------- */

.chi-sono {
  font-family: standard;
  height: 73.5vh;
  padding: 3%;
}

.chi-sono h1 {
  font-size: 1.5vw;
  text-align: left;
}

.paragrafo {
  margin-top: 2vh;
}

.chi-sono b {
  color: teal;
}

/* ------------------------- ELEMENTO ----------------------------- */

.lista {
  overflow-y: auto;
  height: 73.5vh;
}

.elemento-tech {
  padding: 3vh;
  height: 24.5vh;
}

.elemento-tech img {
height: 12vh;
width: 7vw;
}

.elemento-tech h1 {
  font-family: tech;
  font-size: 3vh;
  color: teal;
}

.elemento-tech h3 {
  text-align: left;
  font-family: tech;
  font-size: 3vh;
}

.elemento-tech > .row {
  height: 10vh;
}

.elemento-tech > .row > .col-md-3 {
  height: 17vh;
}

.elemento-ph {
  padding: 3vh;
  height: 24.5vh;
}

.elemento-ph h1 {
  font-family: standard;
  font-size: 3vh;
  color: teal;
}

.elemento-ph img {
  height: 12vh;
  width: 14vh;
  }

/* ------------------------- SCROLL FOTO ------------------------- */


.scroll-foto {
  height: 73.5vh;
  overflow-y: auto;
}

.etichetta-foto {
  background-color: white;
  color: teal;
  padding: 5%;
  font-family: fotografia;
  font-size: 3vh;
}

/* ------------------------- FONTS -------------------------------- */

@font-face {
  font-family: tech;
  src: url(./fonts/Aquire-BW0ox.otf);
}

@font-face {
  font-family: fotografia;
  src: url(./fonts//QuickKissPersonalUse-PxlZ.ttf);
}

@font-face {
  font-family: standard;
  src: url(./fonts//DanielleHarrisDemoRegular-BWpK5.otf);
}

::-webkit-scrollbar {
  width: 0.25rem;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: orange;
}

a:hover {
  color: white;
} 


